$font-family-base: "San Francisco",
	Segoe UI,
	-apple-system, ".SFNSDisplay-Regular",
	"Helvetica Neue", Helvetica,
	Arial, sans-serif;

@import "bootstrap/bootstrap";

@import "fontawesome/variables";
@import "fontawesome/path";
@import "fontawesome/mixins";

.main {
	padding-top: 50px;
}
.timetable-title {
	margin: ($spacer * 2) 0;
	h1 {
		font-weight: $display4-weight;
		font-size: $font-size-h2;
	}
}
@include media-breakpoint-up(lg) {
	.timetable-title h1 {
		font-size: $display4-size;
		font-weight: $display4-weight;
	}
}
#past {
	color: $brand-warning;
	display: none;
}
#maybe-delayed {
	color: $gray-light;
}
#show-previous {
	font-style: italic;
	cursor: pointer;
	color: $brand-primary;
}
#show-previous:hover {
	text-decoration: underline;
}
.time {
	width: 20%;
}
.dest {
	width: 80%;
}
#destination-toggles li {
	cursor: pointer;
	padding: 0;
	label {
		@extend .list-group-item;
		margin: 0;
		border: 0;
	}
}
#destination-toggles input {
	margin-right: $spacer * 0.8;
	margin-left: .4em;
}
.station-toggle-container {
	float: right;
}
#station-picker {
	margin-top: $spacer * 2;
}
#station-list li {
	cursor: pointer;
	padding: 0;
	a {
		@extend .list-group-item;
		margin: 0;
		border: 0;
		color: $brand-primary;
	}
}

#destination-selector {
	ul {
		display: none;
	}
	.card-header {
		cursor: pointer;
	}
	.card-header:before {
		@include fa-icon();
		content: $fa-var-chevron-down;
		margin-right: $spacer * 0.8;
	}
}
#destination-selector.expanded {
	ul {
		display: block;
	}
	.card-header:before {
		content: $fa-var-chevron-up;
	}
}